body {
  font-family: "Inter", sans-serif;
  background-color: #303030;
  color: #cecece;
  margin: 0;
  padding: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 2px solid #3c3c3c;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 75px;
  width: 300px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #37d6c4;
  padding: 2px;
}
.all-notes {
  font-weight: 600;
}
.header-actions {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin: 0;
}
.btn-search {
  border: none;
  background: none;
  color: #cecece;
}

.on {
  background-color: #ffffff;
  color: #000;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.status-dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 8px;
}
.add-note-btn {
  background-color: #37d6c4;
  color: #2b2b2b;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.main-content {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.menu-list {
  margin: 0;
  padding: 0;
  border-top: 2px solid #353434;
  border-right: 2px solid #353434;
  height: 100%; 
  /* bunu ekledim */
}
.menu-list li {
  border-bottom: 2px solid #353434;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #cecece;
}
.menu-item span:nth-child(2) {
  flex-grow: 1;
  margin-left: 10px;
}
.menu-item .status-dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.status1 {
  background-color: #af54a3;
}
.status2 {
  background-color: #a45f12;
}
.status3 {
  background-color: #4758a6;
}
.status4 {
  background-color: #339b90;
}
.status5 {
  background-color: #b74962;
}
.status6 {
  background-color: #b6892a;
}
.count1 {
  background-color: #af54a3;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.count2 {
  background-color: #a45f12;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.count3 {
  background-color: #4758a6;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.count4 {
  background-color: #339b90;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.count5 {
  background-color: #b74962;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.count6 {
  background-color: #b6892a;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 7px;
}
.notes-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: auto;
  box-sizing: border-box;
}
.note-card {
  padding: 20px;
  min-height: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f0f0f0;
}
.note-card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.note-card .note-title {
  font-size: 1.2em;
  font-weight: 600;
}
.note-card .note-tag {
  font-size: 0.8em;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  color: #2b2b2b;
}
.note-card p {
  font-size: 0.9em;
  line-height: 1.5;
  color: #f0f0f0;
  margin: 10px ;
}
.note-card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 0.8em;
  color: #f0f0f0;
}
.note-card.work {
  background-color: #d64f6f;
}
.note-card.work .note-tag {
  background-color: #f0f0f0;
}
#work {
  color: #d64f6f;
}
.note-card.wishlist {
  background-color: #be6a0a;
}
.note-card.wishlist .note-tag {
  background-color: #f0f0f0;
}
#whislist {
  color: #be6a0a;
}
.note-card.assignment {
  background-color: #4d61c0;
}
.note-card.assignment .note-tag {
  background-color: #f0f0f0;
}
#assignment {
  color: #4d61c0;
}
.note-card.projects {
  background-color: #36b4a6;
}
.note-card.projects .note-tag {
  background-color: #f0f0f0;
}
#projects {
  color: #36b4a6;
}
.note-card.video {
  background-color: #ca5cba;
}
.note-card.video .note-tag {
  background-color: #f0f0f0;
}
#video {
  color: #ca5cba;
}
.note-card.study {
  background-color: #cd9828;
}
.note-card.study .note-tag {
  background-color: #f0f0f0;
}
#study {
  color: #cd9828;
}
